body {
    background-color: rgb(156, 166, 146);
}
h3 {
    background-color: brown;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 3em;
    color: rgb(220, 32, 32);
}

.subtitle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(114, 48, 48);

}
.subtitle2 {
    font-family: 'Times New Roman', Times, serif;
    color: coral;
    font-size: 4em;

}

.logo {

    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 1em 1em 1em;
   
}
.logo1 {
    width: 400px;
    height: auto;
    display: flex;
  
}

.cards {
    border: 2px solid rgb(204, 145, 63);
    width: auto;
    padding: 1em 1em 1em 1em;
    border-radius: 3%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;

}

.cards:hover{
    background-color: rgb(192, 163, 59);
}

.lista {
    text-align: center;
    font-weight: bold;
}
#principal {
    font-size: 60px;
}

#secundario {
    font-size: 40px;
}

#titulos {
   
    width: 60vw;
    margin: auto;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards-containers {
    
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    border: 5px solid rgb(53, 6, 6);
    border-radius: 5%;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}